<section id="ads-board" class="bg-white">
    <div class="h-full min-h-max w-full shadow-lg">
        <div class="m-auto flex h-max max-w-screen-xl items-start justify-between gap-2 py-6 px-1 flex-wrap xl:flex-nowrap">
            <div id="carousel-ads" class="group relative xl:h-64 xl:min-w-[853.333px] h-[270px] w-full overflow-x-hidden rounded-md">
                <ul class="absolute top-0 left-0 flex w-max flex-nowrap items-center justify-center transition-transform duration-500 ease-in-out">
                    <li><img class="xl:h-64 h-full" src="https://i.imgur.com/tF4Rwl6.png" /></li>
                    <li><img class="xl:h-64 h-full" src="https://i.imgur.com/eSPpcOD.png" /></li>
                    <li><img class="xl:h-64 h-full" src="https://i.imgur.com/HNEWmWQ.png" /></li>
                    <li><img class="xl:h-64 h-full" src="https://i.imgur.com/gA1FKay.png" /></li>
                    <li><img class="xl:h-64 h-full" src="https://i.imgur.com/hX6NSqa.png" /></li>
                </ul>

                <div class="z-10 flex h-full w-full items-center justify-between text-white">
                    <button class="z-20 rounded-r-lg bg-gray-700/60 py-5 px-3 opacity-50 transition-opacity hover:opacity-80"
                            onclick="previous()">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>

                    <button class="z-20 rounded-l-lg bg-gray-700/60 py-5 px-3 opacity-50 transition-opacity hover:opacity-80"
                            onclick="next()">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>

            <aside id="solid-ads" class="flex xl:min-w-max w-full xl:h-64 h-max xl:flex-col flex-row items-center gap-2">
                <img class="xl:h-1/2 xl:w-full w-1/2 h-auto rounded-md" src="https://cf.shopee.vn/file/69a642171c2ef532508d27e53568fe86_xhdpi" />
                <img class="xl:h-1/2 xl:w-full w-1/2 h-auto rounded-md" src="https://cf.shopee.vn/file/b8faf04fc43e3d90f597ba73b06cfc0b_xhdpi" />
            </aside>
        </div>
    </div>
</section>