<section id="ads-board" class="bg-white">
    <div class="h-full min-h-max w-full shadow-lg">
        <div class="m-auto flex h-max max-w-screen-xl items-start justify-between gap-2 py-6 px-1 flex-wrap xl:flex-nowrap">
            <div id="carousel-ads" class="group relative xl:h-64 xl:min-w-[853.333px] h-[270px] w-full overflow-x-hidden rounded-md">
                <ul class="absolute top-0 left-0 flex w-max flex-nowrap items-center justify-center transition-transform duration-500 ease-in-out">
                    <li><img class="xl:h-64 h-full" src="https://cdn.discordapp.com/attachments/855853924580851753/1261064412731674765/Ma-giam-gia-Fado.png?ex=66919941&is=669047c1&hm=09c77298880fdcba3bc032478a097c74201d5235729347c66fffea97ae288aa4&" /></li>
                    <li><img class="xl:h-64 h-full" src="https://cdn.discordapp.com/attachments/855853924580851753/1261064413348368486/Ma-giam-gia-MediaMart-1.png?ex=66919941&is=669047c1&hm=616fffeb31e171e45039e33357a8b69f85952150d3a3c85f84add997ca8942f7&" /></li>
                    <li><img class="xl:h-64 h-full" src="https://cdn.discordapp.com/attachments/855853924580851753/1261064413805281340/ma-giam-gia-vietjet-air.png?ex=66919941&is=669047c1&hm=a12a444af05162db2d3be608984309f4ea844e72c3c439f80b1820a5ea468441&" /></li>
                    <li><img class="xl:h-64 h-full" src="https://cdn.discordapp.com/attachments/855853924580851753/1261064414531026994/Nha-thuoc-FPT-Long-Chau-1.png?ex=66919941&is=669047c1&hm=076a11ff2083c120646eef6c62cd6b6974b8f84811dd08ba33c8fece645411cb&" /></li>
                    <li><img class="xl:h-64 h-full" src="https://cdn.discordapp.com/attachments/855853924580851753/1261064415093194823/Voucher-ma-giam-gia-FPT-shop-1_2.png?ex=66919942&is=669047c2&hm=c0325edd1658bf189b198f982192c8a5b69778f30d28c4eae7ac493c5586d0e5&" /></li>
                </ul>

                <div class="z-10 flex h-full w-full items-center justify-between text-white">
                    <button class="z-20 rounded-r-lg bg-gray-700/60 py-5 px-3 opacity-50 transition-opacity hover:opacity-80"
                            onclick="previous()">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>

                    <button class="z-20 rounded-l-lg bg-gray-700/60 py-5 px-3 opacity-50 transition-opacity hover:opacity-80"
                            onclick="next()">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>

            <aside id="solid-ads" class="flex xl:min-w-max w-full xl:h-64 h-max xl:flex-col flex-row items-center gap-2">
                <img class="xl:h-1/2 xl:w-full w-1/2 h-auto rounded-md" src="https://cf.shopee.vn/file/69a642171c2ef532508d27e53568fe86_xhdpi" />
                <img class="xl:h-1/2 xl:w-full w-1/2 h-auto rounded-md" src="https://cf.shopee.vn/file/b8faf04fc43e3d90f597ba73b06cfc0b_xhdpi" />
            </aside>
        </div>
    </div>
</section>